*{
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    margin: auto;
}


.container{
    position: relative;
    text-align: center;
    color: white;
    
}
/*estilo de la imagen de fondo*/
img{
    width: 100%;
    height: auto;
    display: block;

}

/*titulo pagina*/
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    width: 10em;
}

/*texto debajo del titulo*/
.text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 115%; 
}

/*boton de READ MORE*/
.box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 10em;
    border: 3px solid rebeccapurple;
    cursor: pointer;
}

.box:hover{
    background-color: rebeccapurple;
    
}

.box a{
    text-decoration: none;
    color: white;
}

/*primera caja de texto centrado*/
.box1{
    background-color: rebeccapurple;
    text-align: center;
    width: 100%;
    font-size: 108%;
}

/*segunda caja de texto centrado*/
.box2{
background-color: white;
text-align: center;
width: 100%;
font-size: 108%;
margin-top: 1%;
color: black;

}

/*caja de texto a la izquierda*/
.box3{
    background-color: rebeccapurple;
    width: 20%;
    position: absolute;
    top: 148% ;
    font-size: 108%;
    color: black;
}

/*tercera caja de texto centrado*/
.box4{
    position: absolute;
    right: 28%;
    top: 150%;
    font-size: 108%;
    color: black;
}

/* caja de texto derecha*/
.box5{
    background-color: rebeccapurple;
    position: absolute;
    left: 80%;
    top: 148%;
    width: 20%;
    font-size: 108%;
    color: black;
}
